[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Container Infrastructure Management Service for OpenStack
[access "refs/*"]
	owner = group user/Guilherme Steinmüller (guilhermesteinmuller)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Guilherme Steinmüller (guilhermesteinmuller)
	label-Verified = -1..+1 group user/Guilherme Steinmüller (guilhermesteinmuller)
	push = group user/Guilherme Steinmüller (guilhermesteinmuller)
	read = group user/Guilherme Steinmüller (guilhermesteinmuller)
	rebase = group user/Guilherme Steinmüller (guilhermesteinmuller)
	removeReviewer = group user/Guilherme Steinmüller (guilhermesteinmuller)
	submit = group user/Guilherme Steinmüller (guilhermesteinmuller)
[access "refs/heads/*"]
	create = group user/Guilherme Steinmüller (guilhermesteinmuller)
	push = +force group user/Guilherme Steinmüller (guilhermesteinmuller)
	pushMerge = group user/Guilherme Steinmüller (guilhermesteinmuller)
	read = group user/Guilherme Steinmüller (guilhermesteinmuller)
[access "refs/tags/*"]
	push = group user/Guilherme Steinmüller (guilhermesteinmuller)
	push = +force group user/Guilherme Steinmüller (guilhermesteinmuller)
